.parrafo {
    font-family: Times New Roman, Times, serif;
    color: #9d8f7b;
}

.logo {
    width: 100px;
    height: auto;
}



.boton {
    background-color: #c84b4b;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    letter-spacing: 2px;

}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 9rem;
    background: linear-gradient(to right, #ede7e5, #e27b7b);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    display: unset;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    color: #ede7dee6;
}

.subtitulo {
    color: #69bd56;
    letter-spacing: 2px;
}

.titulo {
    font-size: 3rem;
    display: flex;
    justify-content: center;

}

.card {
    min-height: 450px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), #421b1b), url('/negro.jpg');
    background-size: cover;
    background-position: center;
    background-color: #000;
}
.card2 {
    min-height: 450px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), #421b1b), url('/fondo2.jpg');
    background-size: cover;
    background-position: center;
    background-color: #000;
}

.titulo2 {
    font-family: 'Times New Roman', Times, serif;
}

.lineas {
    width: 40px;
    height: 1px;
    background-color: #69bd56;
}

.cardtitle {
    font-family: 'Times New Roman', Times, serif;
}
.tarjeta2 {
    background: linear-gradient(135deg, #1d0b0b 0%, #0d0d0d 100%);

    border-radius: 15px;
}
.texto{
    position: relative;
    bottom: 90%;
}
.tarjeta3{
    background: linear-gradient(135deg, #1d0b0b 0%, #0d0d0d 100%);

    border-radius: 15px;
}